In [2]:
import platform
platform.python_version()

'3.9.13'

# 1. Importing Libraries

In [3]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df = pd.read_csv('global_emissions.csv')

In [7]:
df

,Year,Country.Name,Country.Code,Country.GDP,Country.Population,Emissions.Production.CH4,Emissions.Production.N2O,Emissions.Production.CO2.Cement,Emissions.Production.CO2.Coal,Emissions.Production.CO2.Gas,Emissions.Production.CO2.Oil,Emissions.Production.CO2.Flaring,Emissions.Production.CO2.Other,Emissions.Production.CO2.Total,Emissions.Global Share.CO2.Cement,Emissions.Global Share.CO2.Coal,Emissions.Global Share.CO2.Gas,Emissions.Global Share.CO2.Oil,Emissions.Global Share.CO2.Flaring,Emissions.Global Share.CO2.Total
0,1992,Afghanistan,AFG,1.267754e+10,14485543,7.13,2.89,0.046,0.022,0.363,0.927,0.022,0.000000e+00,1.379,0.01,0.00,0.01,0.01,0.01,0.01
1,1993,Afghanistan,AFG,9.834581e+09,15816601,7.21,2.93,0.047,0.018,0.352,0.894,0.022,0.000000e+00,1.333,0.01,0.00,0.01,0.01,0.01,0.01
2,1994,Afghanistan,AFG,7.919857e+09,17075728,7.47,2.76,0.047,0.015,0.338,0.860,0.022,2.220446e-16,1.282,0.01,0.00,0.01,0.01,0.01,0.01
3,1995,Afghanistan,AFG,1.230753e+10,18110662,7.83,2.88,0.047,0.015,0.322,0.824,0.022,2.220446e-16,1.230,0.01,0.00,0.01,0.01,0.01,0.01
4,1996,Afghanistan,AFG,1.207013e+10,18853444,8.67,3.12,0.047,0.007,0.308,0.780,0.022,1.000000e-03,1.165,0.01,0.00,0.01,0.01,0.01,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2479,2014,Vietnam,VNM,5.098024e+11,91713848,84.93,23.48,32.694,70.517,19.599,46.196,0.000,0.000000e+00,169.006,2.19,0.47,0.29,0.40,0.00,0.48
2480,2015,Vietnam,VNM,5.439311e+11,92677080,83.85,25.91,34.298,83.191,20.463,55.052,0.000,0.000000e+00,193.004,2.39,0.57,0.30,0.46,0.00,0.54
2481,2016,Vietnam,VNM,5.776835e+11,93640440,81.85,24.82,36.822,81.561,20.368,54.015,0.000,0.000000e+00,192.766,2.49,0.57,0.29,0.45,0.00,0.54
2482,2017,Vietnam,VNM,6.177747e+11,94600640,81.28,24.89,42.735,77.680,17.877,56.957,0.000,0.000000e+00,195.249,2.85,0.54,0.25,0.47,0.00,0.54
2483,2018,Vietnam,VNM,6.614884e+11,95545960,81.42,25.44,49.637,94.927,18.554,60.599,0.000,1.000000e-03,223.718,3.17,0.64,0.25,0.50,0.00,0.61

In [10]:
df.keys()

Index(['Year', 'Country.Name', 'Country.Code', 'Country.GDP',
       'Country.Population', 'Emissions.Production.CH4',
       'Emissions.Production.N2O', 'Emissions.Production.CO2.Cement',
       'Emissions.Production.CO2.Coal', 'Emissions.Production.CO2.Gas',
       'Emissions.Production.CO2.Oil', 'Emissions.Production.CO2.Flaring',
       'Emissions.Production.CO2.Other', 'Emissions.Production.CO2.Total',
       'Emissions.Global Share.CO2.Cement', 'Emissions.Global Share.CO2.Coal',
       'Emissions.Global Share.CO2.Gas', 'Emissions.Global Share.CO2.Oil',
       'Emissions.Global Share.CO2.Flaring',
       'Emissions.Global Share.CO2.Total'],
      dtype='object')

In [13]:
df.head()

,Year,Country.Name,Country.Code,Country.GDP,Country.Population,Emissions.Production.CH4,Emissions.Production.N2O,Emissions.Production.CO2.Cement,Emissions.Production.CO2.Coal,Emissions.Production.CO2.Gas,Emissions.Production.CO2.Oil,Emissions.Production.CO2.Flaring,Emissions.Production.CO2.Other,Emissions.Production.CO2.Total,Emissions.Global Share.CO2.Cement,Emissions.Global Share.CO2.Coal,Emissions.Global Share.CO2.Gas,Emissions.Global Share.CO2.Oil,Emissions.Global Share.CO2.Flaring,Emissions.Global Share.CO2.Total
0,1992,Afghanistan,AFG,1.267754e+10,14485543,7.13,2.89,0.046,0.022,0.363,0.927,0.022,0.000000e+00,1.379,0.01,0.0,0.01,0.01,0.01,0.01
1,1993,Afghanistan,AFG,9.834581e+09,15816601,7.21,2.93,0.047,0.018,0.352,0.894,0.022,0.000000e+00,1.333,0.01,0.0,0.01,0.01,0.01,0.01
2,1994,Afghanistan,AFG,7.919857e+09,17075728,7.47,2.76,0.047,0.015,0.338,0.860,0.022,2.220446e-16,1.282,0.01,0.0,0.01,0.01,0.01,0.01
3,1995,Afghanistan,AFG,1.230753e+10,18110662,7.83,2.88,0.047,0.015,0.322,0.824,0.022,2.220446e-16,1.230,0.01,0.0,0.01,0.01,0.01,0.01
4,1996,Afghanistan,AFG,1.207013e+10,18853444,8.67,3.12,0.047,0.007,0.308,0.780,0.022,1.000000e-03,1.165,0.01,0.0,0.01,0.01,0.01,0.00

In [16]:
df.tail()

,Year,Country.Name,Country.Code,Country.GDP,Country.Population,Emissions.Production.CH4,Emissions.Production.N2O,Emissions.Production.CO2.Cement,Emissions.Production.CO2.Coal,Emissions.Production.CO2.Gas,Emissions.Production.CO2.Oil,Emissions.Production.CO2.Flaring,Emissions.Production.CO2.Other,Emissions.Production.CO2.Total,Emissions.Global Share.CO2.Cement,Emissions.Global Share.CO2.Coal,Emissions.Global Share.CO2.Gas,Emissions.Global Share.CO2.Oil,Emissions.Global Share.CO2.Flaring,Emissions.Global Share.CO2.Total
2479,2014,Vietnam,VNM,5.098024e+11,91713848,84.93,23.48,32.694,70.517,19.599,46.196,0.0,0.000,169.006,2.19,0.47,0.29,0.40,0.0,0.48
2480,2015,Vietnam,VNM,5.439311e+11,92677080,83.85,25.91,34.298,83.191,20.463,55.052,0.0,0.000,193.004,2.39,0.57,0.30,0.46,0.0,0.54
2481,2016,Vietnam,VNM,5.776835e+11,93640440,81.85,24.82,36.822,81.561,20.368,54.015,0.0,0.000,192.766,2.49,0.57,0.29,0.45,0.0,0.54
2482,2017,Vietnam,VNM,6.177747e+11,94600640,81.28,24.89,42.735,77.680,17.877,56.957,0.0,0.000,195.249,2.85,0.54,0.25,0.47,0.0,0.54
2483,2018,Vietnam,VNM,6.614884e+11,95545960,81.42,25.44,49.637,94.927,18.554,60.599,0.0,0.001,223.718,3.17,0.64,0.25,0.50,0.0,0.61

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Year                                2484 non-null   int64
 1   Country.Name                        2484 non-null   object
 2   Country.Code                        2484 non-null   object
 3   Country.GDP                         2484 non-null   float64
 4   Country.Population                  2484 non-null   int64
 5   Emissions.Production.CH4            2484 non-null   float64
 6   Emissions.Production.N2O            2484 non-null   float64
 7   Emissions.Production.CO2.Cement     2484 non-null   float64
 8   Emissions.Production.CO2.Coal       2484 non-null   float64
 9   Emissions.Production.CO2.Gas        2484 non-null   float64
 10  Emissions.Production.CO2.Oil        2484 non-null   float64
 11  Emissions.Production.CO2.Flaring    2484 non-null   float64
 12  Emissions.Production.CO2.Other      2484 non-null   float64
 13  Emissions.Production.CO2.Total      2484 non-null   float64
 14  Emissions.Global Share.CO2.Cement   2484 non-null   float64
 15  Emissions.Global Share.CO2.Coal     2484 non-null   float64
 16  Emissions.Global Share.CO2.Gas      2484 non-null   float64
 17  Emissions.Global Share.CO2.Oil      2484 non-null   float64
 18  Emissions.Global Share.CO2.Flaring  2484 non-null   float64
 19  Emissions.Global Share.CO2.Total    2484 non-null   float64
dtypes: float64(16), int64(2), object(2)
memory usage: 388.2+ KB

In [19]:
df.dtypes

Year                                    int64
Country.Name                           object
Country.Code                           object
Country.GDP                           float64
Country.Population                      int64
Emissions.Production.CH4              float64
Emissions.Production.N2O              float64
Emissions.Production.CO2.Cement       float64
Emissions.Production.CO2.Coal         float64
Emissions.Production.CO2.Gas          float64
Emissions.Production.CO2.Oil          float64
Emissions.Production.CO2.Flaring      float64
Emissions.Production.CO2.Other        float64
Emissions.Production.CO2.Total        float64
Emissions.Global Share.CO2.Cement     float64
Emissions.Global Share.CO2.Coal       float64
Emissions.Global Share.CO2.Gas        float64
Emissions.Global Share.CO2.Oil        float64
Emissions.Global Share.CO2.Flaring    float64
Emissions.Global Share.CO2.Total      float64
dtype: object

In [22]:
df.shape

(2484, 20)

In [23]:
df.iloc[0]

Year                                           1992
Country.Name                            Afghanistan
Country.Code                                    AFG
Country.GDP                           12677538816.0
Country.Population                         14485543
Emissions.Production.CH4                       7.13
Emissions.Production.N2O                       2.89
Emissions.Production.CO2.Cement               0.046
Emissions.Production.CO2.Coal                 0.022
Emissions.Production.CO2.Gas                  0.363
Emissions.Production.CO2.Oil                  0.927
Emissions.Production.CO2.Flaring              0.022
Emissions.Production.CO2.Other                  0.0
Emissions.Production.CO2.Total                1.379
Emissions.Global Share.CO2.Cement              0.01
Emissions.Global Share.CO2.Coal                 0.0
Emissions.Global Share.CO2.Gas                 0.01
Emissions.Global Share.CO2.Oil                 0.01
Emissions.Global Share.CO2.Flaring             0.01
Emissions.Global Share.CO2.Total               0.01
Name: 0, dtype: object

In [30]:
df.iloc[:,:4]

      Year Country.Name Country.Code   Country.GDP
0     1992  Afghanistan          AFG  1.267754e+10
1     1993  Afghanistan          AFG  9.834581e+09
2     1994  Afghanistan          AFG  7.919857e+09
3     1995  Afghanistan          AFG  1.230753e+10
4     1996  Afghanistan          AFG  1.207013e+10
...    ...          ...          ...           ...
2479  2014      Vietnam          VNM  5.098024e+11
2480  2015      Vietnam          VNM  5.439311e+11
2481  2016      Vietnam          VNM  5.776835e+11
2482  2017      Vietnam          VNM  6.177747e+11
2483  2018      Vietnam          VNM  6.614884e+11

[2484 rows x 4 columns]

In [38]:
df['Country.Name'].describe()

count            2484
unique             92
top       Afghanistan
freq               27
Name: Country.Name, dtype: object

In [40]:
df.Year.describe()

count    2484.000000
mean     2005.000000
std         7.790449
min      1992.000000
25%      1998.000000
50%      2005.000000
75%      2012.000000
max      2018.000000
Name: Year, dtype: float64

In [41]:
df['Year'].describe()

count    2484.000000
mean     2005.000000
std         7.790449
min      1992.000000
25%      1998.000000
50%      2005.000000
75%      2012.000000
max      2018.000000
Name: Year, dtype: float64

# renaming coulmns

In [48]:
df.shape

(2484, 20)

In [45]:
print(df.columns)

Index(['Year', 'Country.Name', 'Country.Code', 'Country.GDP',
       'Country.Population', 'Emissions.Production.CH4',
       'Emissions.Production.N2O', 'Emissions.Production.CO2.Cement',
       'Emissions.Production.CO2.Coal', 'Emissions.Production.CO2.Gas',
       'Emissions.Production.CO2.Oil', 'Emissions.Production.CO2.Flaring',
       'Emissions.Production.CO2.Other', 'Emissions.Production.CO2.Total',
       'Emissions.Global Share.CO2.Cement', 'Emissions.Global Share.CO2.Coal',
       'Emissions.Global Share.CO2.Gas', 'Emissions.Global Share.CO2.Oil',
       'Emissions.Global Share.CO2.Flaring',
       'Emissions.Global Share.CO2.Total'],
      dtype='object')

In [49]:
df_renamining_columns=df

In [55]:
df_renamining_columns.rename(columns = {'Country.Name':'Country_Name', 
                                        'Country.Code':'Country_Code',
                                        'Country.GDP':'Country_GDP', 
                                        'Country.Population':'Country_Population',
                                        'Emissions.Production.CH4':'Emissions_Production_CH4',
                                        'Emissions.Production.N2O':'Emissions_Production_N2O',
                                        'Emissions.Production.CO2.Cement':'Emissions_Production_CO2_Cement',
                                        'Emissions.Production.CO2.Coal':'Emissions_Production_CO2_Coal',
                                        'Emissions.Production.CO2.Gas':'Emissions_Production_CO2_Gas',
                                        'Emissions.Production.CO2.Oil':'Emissions_Production_CO2_Oil',
                                        'Emissions.Production.CO2.Flaring':'Emissions_Production_CO2_Flaring',
                                        'Emissions.Production.CO2.Other':'Emissions_Production_CO2_Other',
                                        'Emissions.Production.CO2.Total':'Emissions_Production_CO2_Total',
                                        'Emissions.Global Share.CO2.Cement':'Emissions_Global_Share_CO2_Cement',
                                        'Emissions.Global Share.CO2.Coal':'Emissions_Global_Share_CO2_Coal',
                                        'Emissions.Global Share.CO2.Gas':'Emissions_Global_Share_CO2_Gas', 
                                        'Emissions.Global Share.CO2.Oil':'Emissions_Global_Share_CO2_Oil',
                                        'Emissions.Global Share.CO2.Flaring':'Emissions_Global_Share_CO2_Flaring',
                                        'Emissions.Global Share.CO2.Total':'Emissions_Global_Share_CO2_Total'}, 
                                         inplace = True)

In [57]:
# Before renaming the columns
print(df.columns)

Index(['Year', 'Country_Name', 'Country_Code', 'Country_GDP',
       'Country_Population', 'Emissions_Production_CH4',
       'Emissions_Production_N2O', 'Emissions_Production_CO2_Cement',
       'Emissions_Production_CO2_Coal', 'Emissions_Production_CO2_Gas',
       'Emissions_Production_CO2_Oil', 'Emissions_Production_CO2_Flaring',
       'Emissions_Production_CO2_Other', 'Emissions_Production_CO2_Total',
       'Emissions_Global_Share_CO2_Cement', 'Emissions_Global_Share_CO2_Coal',
       'Emissions_Global_Share_CO2_Gas', 'Emissions_Global_Share_CO2_Oil',
       'Emissions_Global_Share_CO2_Flaring',
       'Emissions_Global_Share_CO2_Total'],
      dtype='object')

In [56]:
# After renaming the columns
print(df_renamining_columns.columns)

Index(['Year', 'Country_Name', 'Country_Code', 'Country_GDP',
       'Country_Population', 'Emissions_Production_CH4',
       'Emissions_Production_N2O', 'Emissions_Production_CO2_Cement',
       'Emissions_Production_CO2_Coal', 'Emissions_Production_CO2_Gas',
       'Emissions_Production_CO2_Oil', 'Emissions_Production_CO2_Flaring',
       'Emissions_Production_CO2_Other', 'Emissions_Production_CO2_Total',
       'Emissions_Global_Share_CO2_Cement', 'Emissions_Global_Share_CO2_Coal',
       'Emissions_Global_Share_CO2_Gas', 'Emissions_Global_Share_CO2_Oil',
       'Emissions_Global_Share_CO2_Flaring',
       'Emissions_Global_Share_CO2_Total'],
      dtype='object')

In [ ]:
https://corgis-edu.github.io/corgis/csv/